@using System.Globalization;
@{
    ViewBag.Title = "Chart";
    Layout = "~/Areas/Manage/Views/Shared/_AdminLayout.cshtml";


    var newcus = ViewBag.NewCus ;
    var maintenaceroom = ViewBag.MaintenanceRoom;
    var rentroom = ViewBag.RentRoom;
    var total = ViewBag.Total;
    var booking = ViewBag.Booking;
    var cancelbooking = ViewBag.CancelBooking;
    var totalserv = ViewBag.TotalServices;
    var totalroomrevenue = ViewBag.TotalRoom;
}

<div class="row">
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3>@booking</h3>

                <p>New Bookings</p>
            </div>
            <div class="icon">
                <i class="fas fa-plus-square"></i>
            </div>

        </div>
    </div>

    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>@cancelbooking</h3>

                <p>Cancel Booking</p>
            </div>
            <div class="icon">
                <i class="fas fa-window-close"></i>
            </div>

        </div>
    </div>
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3>@rentroom</h3>

                <p>Rented Room</p>
            </div>
            <div class="icon">
                <i class="fas fa-bed"></i>
            </div>

        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>@maintenaceroom</h3>

                <p>Maintenance Room</p>
            </div>
            <div class="icon">
                <i class="fas fa-tools"></i>
            </div>

        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3>@newcus</h3>

                <p>New Customer</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>

        </div>
    </div>
    <!-- ./col -->

    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>@totalroomrevenue.ToString("C0", CultureInfo.CurrentCulture)</h3>

                <p>Total Room Revenue</p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>@totalserv.ToString("C0", CultureInfo.CurrentCulture)</h3>

                <p>Total Services Revenue</p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>@total.ToString("C0", CultureInfo.CurrentCulture)</h3>

                <p>Total Revenue</p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>
        </div>
    </div>


    <!-- ./col -->
</div>


<div class="card">
    <div class="card-header border-0">
        <div class="d-flex justify-content-between">
            <h3 class="card-title">Customers</h3>
        </div>
    </div>
    <div class="card-body">
        <div class="d-flex">
            <p class="d-flex flex-column">
                <span class="text-bold text-lg">820</span>
                <span>Visitors Over Time</span>
            </p>
            <p class="ml-auto d-flex flex-column text-right">
                <span class="text-success">
                    <i class="fas fa-arrow-up"></i> 12.5%
                </span>
                <span class="text-muted">Since last week</span>
            </p>
        </div>
        <!-- /.d-flex -->

        <div class="position-relative mb-4">
            <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
            <canvas id="visitors-chart" height="200" width="326" class="chartjs-render-monitor" style="display: block; width: 326px; height: 200px;"></canvas>
        </div>

        <div class="d-flex flex-row justify-content-end">
            <span class="mr-2">
                <i class="fas fa-square text-primary"></i> This Week
            </span>

            <span>
                <i class="fas fa-square text-gray"></i> Last Week
            </span>
        </div>
    </div>
</div>