@using System.Globalization;
@{
    ViewBag.Title = "Danh sách phiếu đặt phòng";
    Layout = "~/Areas/Manage/Views/Shared/_AdminLayout.cshtml";

    var listbookingroom = (List<HOTELMANAGEWEB.Models.Booking>)ViewBag.ListBookingRoom;

}


<section class="content-header roboto-fonts">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6 d-flex">
                <h1 class="">Quản lý đặt phòng</h1>
                @{ if (User.IsInRole("Admin"))
                    {
                        <button class="btn btn-primary ml-3" data-toggle="modal" data-target="#modal-xl--1">
                            <span>
                                <i class="fas fa-plus"></i>
                            </span> Thêm đặt phòng
                        </button>
                        Html.RenderAction("AddBooking", "Manage");
                    }
                }
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


@{
    if (ViewBag.Message != null)
    {
        if (ViewBag.Message == "BOOKSUCCES")
        {
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h5><i class="icon fas fa-check"></i> Thông báo!</h5>
                Chọn phòng thành công.
            </div>
        }
        else if (ViewBag.Message == "BOOKFAIL")
        {
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h5><i class="icon fas fa-ban"></i> Thông báo!</h5>
                Có lỗi xảy ra trong quá trình chọn phòng. Vui lòng chọn lại sau.
            </div>
        }
    }
}

<section class="content">
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title roboto-fonts">Danh sách phiếu đặt phòng</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Tên khách hàng</th>
                                    <th>Loại phòng</th>
                                    <th>CheckIn/Out</th>
                                    <th>Trạng thái</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in listbookingroom)
                                {
                                    <tr>
                                        <td>@item.Customer.CustomerName</td>
                                        <td>@item.RoomType.RoomTypeName</td>
                                        <td>@Convert.ToDateTime(item.CheckinDate).ToString("dd/MM/yyyy") - @Convert.ToDateTime(item.CheckoutDate).ToString("dd/MM/yyyy")</td>
                                        <td>@item.BookingStatus</td>
                                        <td class="text-center">
                                            @{
                                                if (item.BookingStatus == "OPEN")
                                                {
                                                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-xl-choseroom-@item.BookingID">
                                                        <i class="fas fa-door-open"></i> Chọn phòng
                                                    </button>
                                                }
                                            }
                                            @*<a class="btn btn-warning btn-sm" href="@Url.Action("AddEditServModal", "Manage", new { id = item.ServicesID })">
                                                    <i class="fas fa-pencil-alt"></i> Chi tiết
                                                </a>*@
                                            <button class="btn btn-warning btn-sm" data-toggle="modal" data-target="#modal-xl-@item.BookingID">
                                                <i class="fas fa-pencil-alt"></i> Chi tiết
                                            </button>
                                            @{ if (User.IsInRole("Admin"))
                                                {
                                                    <a class="btn btn-danger btn-sm" data-toggle="modal" data-target="@string.Concat("#ModalCenter", item.BookingID)">
                                                        <i class="fas fa-trash"></i> Xóa
                                                    </a> } }
                                        </td>
                                    </tr>
                                    @*@Html.Partial("AddEditServModal", item.ServicesID);*@
                                    <div class="modal fade" id="@string.Concat("ModalCenter",item.BookingID)" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle">Thông báo</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Bạn có muốn xóa phiếu đặt phòng này không?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                                                    @using (Html.BeginForm("DeleteServ", "Manage", new { id = item.BookingID }, FormMethod.Post))
                                                    {
                                                        @Html.AntiForgeryToken()
                                                        <button class="btn btn-danger btn-sm" type="submit">
                                                            <i class="fas fa-trash"></i> Xóa
                                                        </button>}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Tên khách hàng</th>
                                    <th>Loại phòng</th>
                                    <th>CheckIn/Out</th>
                                    <th>Trạng thái</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>
@foreach (var item in listbookingroom)
{
    Html.RenderAction("AddEditBooking", "Manage", new { id = item.BookingID });
}

@foreach (var item in listbookingroom)
{
    if (item.BookingStatus == "OPEN")
    {
        Html.RenderAction("ChoseRoomForBooking", "Manage", new { id = item.BookingID, roomtypeid = item.RoomTypeID });
    }
}