@model IEnumerable<HOTELMANAGEWEB.Models.RequestType>

@{
    ViewBag.Title = "Quản lý loại yêu cầu";
    Layout = null;
}

<section class="content-header roboto-fonts">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6 d-flex">
                <h1 class="">Quản lý loại yêu cầu</h1>
                @{ if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-primary ml-3" })
                    }
                }
            </div>
        </div>
    </div>
</section>

<section class="content">
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title roboto-fonts">Danh sách loại yêu cầu</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.RequestTypeName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Disabled)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CreatedUserID)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ModifyUserID)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DateCreated)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DateModify)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RequestTypeName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Disabled)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreatedUserID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ModifyUserID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateCreated)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateModify)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.RequestTypeID }, new { @class = "btn btn-warning btn-sm" })
                                        @Html.ActionLink("Xóa", "Delete", new { id = item.RequestTypeID }, new { @class = "btn btn-danger btn-sm" })
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>